:root {
  --FF1: Saira; //Font family
  --FF2: RedditMono;
  --FS1: 8px; // Font size
  --FS2: 12px;
  --FS3: 14px;
  --FS4: 16px;
  --CW: 830px; // Container width

  font-family: var(--FF1);
  font-size: var(--FS4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-wrapper {
  height: calc(100vh - 41px - 2px);
  width: 100%;
  overflow: auto;
}

input,
textarea,
button {
  font-family: var(--FF1);
}

.app-theme-provider {
  background-color: var(--BG2);
  color: var(--F1);
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &:not(.maximized) {
    border: 2px solid var(--A1);
    border-radius: 8px;

    &:not(.active) {
      border-color: var(--HL2);
    }
  }

  ::selection {
    background-color: var(--A1);
    color: var(--BG2);
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--BG3);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--HL2);
    border: 2px solid var(--BG3);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--HL1);
  }

  ::-webkit-scrollbar-corner {
    background: var(--HL2);
  }
}
