/* Base */

@font-face {
  font-family: Saira;
  src: url(@/assets/fonts/Saira-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Saira;
  src: url(@/assets/fonts/Saira-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Saira;
  src: url(@/assets/fonts/Saira-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Saira;
  src: url(@/assets/fonts/Saira-MediumItalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Saira;
  src: url(@/assets/fonts/Saira-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Saira;
  src: url(@/assets/fonts/Saira-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Mono-space */

@font-face {
  font-family: RedditMono;
  src: url(@/assets/fonts/RedditMono-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RedditMono;
  src: url(@/assets/fonts/RedditMono-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: RedditMono;
  src: url(@/assets/fonts/RedditMono-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
